// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Teko&display=swap");

@mixin addFontPoppins {
	font-family: "Poppins", sans-serif;
}

@mixin headerStyles {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}

body {
	background: $primary;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.sponsors-carousel,
.community,
.who-we-are,
.join-us-box,
.info-about-training,
.current-meetup,
.past-meetup,
.partners-meetup,
.become-sponsor,
.current-jobs-offers,
.our-speakers,
.events-films {
	margin-top: 150px;
}

.input-container {
	&::before {
		content: url("../images/search.svg");
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.input,
.select {
	background: none;
	border: 2px solid $primary-text;
	opacity: 0.35;
	border-radius: 99px;
	padding: 16px 32px;
	display: inline-block;
	color: $primary-text;

	&::placeholder {
		color: $primary-text;
		@include addFontPoppins();
		font-size: 14px;
	}

	&:focus {
		outline: none;
	}
}

.button {
	background: $button-bg;
	border-radius: 99px;
	border: none;
	color: $white;
}

.header {
	@include addFontPoppins();
}

.header-section-page {
	@include addFontPoppins();
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	color: $white;
}

.desc {
	line-height: 32px;
	color: $primary-text;
}
/* NAVBAR SCSS */
#wrapper-navbar {
	height: 96px;
	padding-top: 96px;

	#main-nav {
		.container-fluid {
			.logo-nav {
				.logo {
					width: 100%;
				}
			}

			.social-media-nav,
			.language-flag-nav {
				@include media-breakpoint-down(md) {
					display: none !important;
				}

				.switcher {
					width: 85px;

					.selected {
						background: none;

						a {
							color: $primary-text;
							width: 100%;
							border: none;
						}
					}
				}
			}

			ul {
				width: 100%;
				justify-content: center;

				li {
					margin: 0 32px;
					@include media-breakpoint-down(lg) {
						margin: 0 16px;
					}

					a {
						color: $primary-text;
						font-family: "Roboto", sans-serif;
						@include media-breakpoint-between(md, lg) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

/* HEADER SCSS */
.page-id-11 .header-bg {
	background-image: url("../images/header_bg.png");
	background-position: center center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

.home-header {
	padding-top: 150px;

	&__title {
		font-size: 195px;
		font-family: "Teko", sans-serif;
	}

	&__span {
		font-size: 65px;
		letter-spacing: 35px;
		margin-top: -35px;
	}

	&__button {
		padding: 24px 32px;
		font-size: 14px;
	}

	&__more-text {
		color: $primary-text;
		font-size: 16px;
	}

	&__who-bg {
		background-image: url("../images/ilustracja_bg.svg");
		background-position: center center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover;
	}

	&__who-header {
		height: 48px;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
	}

	&__who-text {
		color: $primary-text;
		line-height: 32px;
		margin: 40px 0 32px 0;
	}

	&__who-button {
		padding: 20px 32px;
	}
}

/* HOME SCSS */
.news {
	margin-top: 200px;

	&__header {
		height: 48px;
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: $white;
	}

	&__paragraph {
		color: $primary-text;
		line-height: 32px;
		margin-top: 27px;
	}

	&__button {
		margin-top: 220px;
		padding: 20px 32px;
	}

	&__img-card {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
}

.card {
	&__date {
		color: $orange;
		font-size: 13px;
		@include addFontPoppins();
		font-weight: bold;
		margin-left: 10px;
	}

	&__author {
		@include addFontPoppins();
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		color: $dark;
	}

	.avatar {
		border-radius: 50%;
		display: inline-block;
		margin-right: 8px;
	}
}

.card-title {
	line-height: 28px;
	font-weight: bold;
	font-size: 20px;
	color: $dark;
}

.card-text {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 32px;

	color: $grey;
}

.events {
	margin-top: 200px;

	&__header {
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: $white;
	}

	&__description {
		font-size: 16px;
		line-height: 32px;
		color: $primary-text;
	}

	&__button-date {
		background: #fb9748;
		padding: 8px 16px;
		font-size: 13px;
		@include addFontPoppins();
		font-weight: bold;
	}

	&__header-box {
		@include headerStyles();
		color: $dark;
	}

	&__content-box-big {
		color: $grey;
		line-height: 32px;
	}

	&__button-check {
		background: $white;
		border: 2px solid rgba(9, 16, 30, 0.15);
		box-sizing: border-box;
		border-radius: 99px;
		padding: 20px 32px;
		@include addFontPoppins();
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
		color: $dark;
	}

	&__button-all-events {
		padding: 20px 32px;
		margin-top: 72px;
	}
}

.sponsors-carousel {
	&__header {
		@include headerStyles();
		color: $white;
	}

	&__owl {
		padding: 50px;
		border-radius: 10px;
		margin-top: 66px;
	}

	&__img {
		max-height: 41px;
		width: auto !important;
		display: block;
		margin: 0 auto;
	}
}

.line-break {
	margin-top: 169px;

	&__border {
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
}

/* FOOTER SCSS */
.footer {
	margin-top: 100px;
	color: $white;

	.widget-title {
		@include addFontPoppins();
		font-weight: bold;
		font-size: 16px;
	}

	.footer-list {
		list-style: none;

		li {
			&:first-child {
				margin-top: 37px;
			}

			&:not(:first-child) {
				margin-top: 15px;
			}
			a {
				color: $white;
				line-height: 24px;
			}
		}
	}

	.widget_media_image {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 26px;
		}
	}

	.footer-social-icons {
		.widget_media_image {
			margin-top: 35px;
		}
	}

	&__first-column-paragraph {
		margin-top: 90px;
		color: $primary-text;
		line-height: 32px;
	}
}

/* ABOUT PAGE SCSS */
.meetups {
	margin-top: 200px;

	&__header-container {
		margin-bottom: 64px;
	}

	&__header {
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: $white;
	}

	&__column {
		&:nth-of-type(2),
		&:nth-of-type(4) {
			margin-left: 25%;
		}
	}

	&__header-info {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: $white;
		margin: 16px 0;
	}

	&__header-info-desc {
		font-size: 14px;
		line-height: 22px;
		color: $primary-text;
	}
}

.community {
	&__header-left {
		&:not(:first-child) {
			margin-top: 51px;
		}
		font-weight: bold;
		font-size: 48px;
		line-height: 64px;
		color: $primary-text;
		letter-spacing: -0.02em;
		position: relative;
		padding-left: 42px;

		&:hover {
			cursor: pointer;
		}
	}

	&__header-left--active {
		color: $white;
	}

	&__header-left-span {
		font-weight: bold;
		font-size: 25px;
		line-height: 35px;
		color: $primary-text;
		position: absolute;
		opacity: 0.25;
		top: 0;
		left: 0;
	}

	&__header-left-span--active {
		color: $purple;
		opacity: 1;
	}

	&__header-right {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		color: $white;
		margin: 42px 0 24px 0;
	}

	&__desc-right {
		font-size: 18px;
		line-height: 32px;
		color: $primary-text;
	}

	&__button {
		@include addFontPoppins();
		padding: 20px 32px;
		font-size: 14px;
	}
}

.who-we-are {
	color: $white;
}

.join-us-box {
	background: $white;
	border-radius: 10px;

	> .row {
		padding: 72px 0;
	}

	&__header {
		font-weight: bold;
		line-height: 48px;
		color: $dark;
	}

	&__desc {
		font-size: 14px;
		line-height: 170%;
		color: $dark;
		opacity: 0.7;
		margin: 24px 0 32px 0;
	}

	&__button {
		@include addFontPoppins();
		padding: 20px 32px;
		background: $white;
		border: 2px solid rgba(9, 16, 30, 0.15);
		border-radius: 99px;
		font-size: 14px;
		font-weight: bold;
	}
}

.info-about-training {
	margin-bottom: 150px;

	&__header {
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		color: $white;
	}

	&__desc {
		line-height: 32px;
		color: $primary-text;
		margin: 48px 0 84px 0;
	}

	&__button {
		padding: 20px 32px;
	}

	&__image-box {
		margin-left: 131px;
	}
}

/* EVENTS PAGE SCSS */
.events-page {
	&__header {
		font-size: 40px;
		color: $white;
	}

	&__list-group {
		list-style: none;
		color: $primary-text;
		margin-bottom: 50px;
	}

	&__list-item {
		margin-right: 50px;

		&--active {
			border-bottom: 2px solid #902fff;
		}
	}

	&__list-link {
		color: $primary-text;

		&:hover {
			color: $primary-text;
			opacity: 0.5;
			text-decoration: none;
		}
	}

	&__current,
	&__past {
		max-width: 552px;
	}

	&__past {
		&--dark-purple-bg {
			background: #0c0434;
		}

		&--white-color-header {
			color: $white;
		}

		&--content-color {
			color: $primary-text;
		}

		&--button-bg {
			background: #0c0434;
			color: $white;
			border: 2px solid #493e70;
		}
	}

	&__partner-event-box {
		height: 400px;
		background: $white;
		border-radius: 10px;
		@include addFontPoppins();
	}

	&__partner-event-image {
		display: inline-block;
		margin: 80px 60px 65px 60px;
	}

	&__partner-event-title {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: $dark;
		margin: 0 20px;
	}

	&__partner-event-desc {
		font-size: 14px;
		line-height: 170%;
		color: $grey;
		margin: 16px 0 32px 0;
	}

	&__become-sponsor-desc {
		margin-top: 40px;
	}

	&__become-sponsor-btn {
		padding: 20px 32px;
		margin-top: 52px;
	}
}

/* OFFERS JOBS SCSS */
.current-jobs-offers {
	&__become-sponsor {
		background: $darker;
		border-radius: 10px;
		padding: 30px;
	}

	&__desc {
		color: $grey;
		font-size: 14px;
	}

	&__header {
		color: $dark;

		&--sponsor {
			color: $white;
		}
	}

	&__button {
		padding: 20px 32px;
	}

	&__button-arrow {
		border: none;
		background: none;

		&:focus {
			outline: none;
		}
	}

	&__offer-container {
		background: $white;
		padding: 30px;
		border-radius: 10px;
	}

	&__span {
		padding: 8px 16px;
		background: $orange;
		border-radius: 99px;
		font-size: 13px;
		font-weight: bold;
		@include addFontPoppins();
		color: $white;
	}

	&__line {
		width: 100%;
		border: 1px solid #535862;
		opacity: 0.15;
	}

	&__list-group {
		list-style: none;
	}

	&__list-item {
		@include addFontPoppins();
		font-size: 14px;
		margin-bottom: 16px;
		color: $grey;

		&::before {
			content: url("../images/check.svg");
			position: absolute;
			left: 15px;
		}
	}

	&__header-offer {
		@include addFontPoppins();
		font-weight: bold;
		font-size: 20px;
		color: $dark;
		margin-bottom: 32px;
	}
}

/*MULTIMEDIA PAGE SCSS */
.our-speakers {
	&__image {
		border-radius: 18px;
	}
}

.flip-card {
	background-color: transparent;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	margin-top: 10px;

	&:hover & {
		&__inner {
			transform: rotateY(180deg);
		}
	}

	&__inner {
		position: relative;
		width: 100%;
		height: 260px;
		transition: transform 0.6s;
		transform-style: preserve-3d;
	}

	&__back {
		background: none;
		color: $primary-text;
		border: 1px solid $primary-text;
		border-radius: 18px;
		transform: rotateY(180deg);
	}

	&__front,
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&__profession {
		color: $orange;
		font-size: 16px;
	}

	&__name {
		color: $white;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 16px;
	}

	&__body {
		font-size: 14px;
	}
}

.multimedia {
	&__select {
		color: $primary-text;
		background-image: url("../images/arrow_down_pink.svg");
		background-repeat: no-repeat, repeat;
		/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
		background-position: right 0.7em top 50%, 0 0;
		/* icon size, then gradient */
		background-size: 1em auto, 100%;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}
}

.multimedia {
	&__title-event {
		font-size: 20px;
		color: $white;
	}
}
